EV-1: Section 1.1

EV:
Authentication is of course a desirable property but I would have assumed that
the time accuracy is even more important. A shift in time -- even minor -- by
one compromised party would even be more important.


Actually I'm not happy with the proposed solution. From my point of view NTS cannot provide or guarantee time accuracy itself. Instead it must ensure that the underlying time synchronization protocol can work correctly. To this end it must be lightweight and fast. Latencies introduced by cryptographic operations should be as small as possible. I could imagine to add the following bullet point to the list.

<t>
             Performance: NTS  must not significantly degrade the quality of the time transfer.
              The encryption and authentication used when actually transferring time should
              be lightweight (cf. Sec. 5.7 in RFC 7384).

 </t>

I agree with Dieter and have pushed a new commit with Dieter's proposed text instead, though with the exact reference syntax changed to match other references in the document.

I do not feel we have to add this, but if we do, I'm ok with the text.