KB-COMMENT-21: Section 4.1.7, 3

KB:

> [RFC4291] and MUST NOT include zone identifiers [RFC6874].  If a
> label contains at least one non-ASCII character, an A-LABEL MUST be
> used as defined in section 2.3.2.1 of RFC 5890 [RFC5890].

It's probably implicit, but this of course only applies in the "FQDN"
case, and the previous sentences were talking about the IP-address
cases...


And IP-addresses don't contain non-ASCII characters...

Related: #78
Proposed response:
You are right. We have updated this to get it more explicit.

For reference: f09bcb7.

Can we mark this issue off then?

Fixed by f09bcb7.