KB-COMMENT-12: Section 4, 2

KB:

> in the TLS-protected channel.  Then, the server SHALL send a single
> response followed by a TLS "Close notify" alert and then discard the
> channel state.

[side note: since we define NTS-KE to be the single request/response
pair and the response is self-framing, the close_notify is kind of
redundant.  Which is not to say that it's bad to talk about, though it
does make one wonder why we only say the server sends it and don't have
the client also send one in response.  (Note that RFC 8446 has "Each
party MUST send a "close_notify" alert before closing its write side of
the connection, unless it has already sent some error alert.")]


But how would a "close_notify" from client to server be recognized as anything other than a random message without any context (from the server's point of view)?

Maybe the client should send a close_notify directly after the request, possibly/likely before it has gotten any response. I don't know if that is how it is supposed to work.

Wouldn't all well-behaved clients send a close_notify in response to the server's close_notify? Is there really a problem here?

I don't think it in any way has to, but also, when the server has sent it's close_notify, it has probably already closed its' TCP session, and it may not listen anymore.
I don't think this is a problem in reality, but I am not entirely sure.

The semantics of close_notify is one of the things that changed with TLS 1.3:
https://tools.ietf.org/html/rfc8446#section-6.1

I view the text in the draft as making it abundantly clear that the TLS session should be closed and not used again. So, I propose no change.

RFC 8446 section 6.1 says:
"Each party MUST send a "close_notify" alert before closing its write
   side of the connection, unless it has already sent some error alert.
   This does not have any effect on its read side of the connection.
   Note that this is a change from versions of TLS prior to TLS 1.3 in
   which implementations were required to react to a "close_notify" by
   discarding pending writes and sending an immediate "close_notify"
   alert of their own.  That previous requirement could cause truncation
   in the read side.  Both parties need not wait to receive a
   "close_notify" alert before closing their read side of the
   connection, though doing so would introduce the possibility of
   truncation."

As I interpret this:
- for >= 1.3, the client MUST send a close_notify after it has sent its request (immediately or later, doesn't really matter I suppose).
- for 1.2, the client MUST NOT send a close_notify until it has got the reply from the server, because that would tear down the TLS connection and it will never get the reply.

I am not sure if we need to have this information here or not.

I currently read the whole issue as: things depend one whether one is using TLS 1.2 or 1.3, which seems like another small argument in favor of clarifying >=1.3

In either case, however, I can live with a response stating that we defer to the respecitve TLS specification and no action on the document.

I agree with Kristof's response suggestion. If our explanations of the WG's reasoning on 1.2 vs 1.3 are not immediately accepted by the reviewers, I think that would be a very strong argument for changing the draft to >=1.3 only.

Fine - lets not change this.